/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $breakpoint-tablet) {

    .container {
      max-width: 1400px;
      @include display-block
    }
    
    .centered {

      @include display-block;

    }
    
    .row {

      @include theme-col-flex-percentages;
      flex-direction: row;
      
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
    
    [class^=col] + [class^=col] {
      margin-left: 10px;
    }
    
    
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    
    .nav-link {
      flex-basis: 100px;
    }
    
    .btn {
      padding: 10px 30px;
    }
    
    .btn + .btn {
      margin-left: 10px;
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    }